.top-head{
    background-color: #562eff ;
}
.fixed-width{
    width: 870px;
   margin: auto;
}
.player-title{
    color: #562eff;
}
.cool{
 color: #b7b7b7;
}
.player-name{
    color: #562eff;
}
.main{
    background-color: #f3f1ff;
}
.courses{
    background-color:#f3f1ff ;
}
.hour{
    background-color: #ffe4e8;
}
.col-width{
    width: 252px;
}
